@import '../config.scss';



.access-set .el-form{width: 550px; margin: 30px auto;}
.access-set .save-btn{position: absolute; right: 30px; top: 30px; z-index: 10;}
.access-set .el-form-item .el-form-item__content{height:auto;}
.access-set .el-select{width:300px;}
.access-set .el-tree{width:300px;}

.access-index{overflow: hidden;}
.access-index .panel.access-tree .panel-oparator{margin-right:10px;}
.access-index .panel.access-tree .panel-oparator{color:#999;}
.access-index .panel.access-tree .panel-oparator.active{color:$primaryColor;}
.access-index .save-btn{position: absolute; right: 20px;}
.access-index .el-transfer-panel{width: 239px;}
.access-index .el-transfer-panel__item.el-checkbox{display: block;}
.access-index .el-transfer-panel__item .el-checkbox__label{overflow: inherit; text-overflow: inherit; white-space: inherit;}
.access-index .el-transfer-panel__body {min-height: 360px; max-height: 460px;}
.access-index .el-transfer-panel__list.is-filterable{min-height: 285px; max-height: 385px;}
.access-index .el-transfer-panel__list.is-filterable .el-checkbox+.el-checkbox{margin-left:0px;}
.access-index .el-transfer__buttons .el-button { display: block; padding: 8px 12px; width: 60px; box-shadow: none; margin: 10px 15px;}

.access-index .dialog .el-form-item .el-form-item__content{width:300px;}

@media screen and (max-width:1440px) {
  .access-index .el-transfer{width:588px;}
	.access-index .el-transfer-panel{width:588px;}
  .access-index .el-transfer__buttons {transform: rotateZ(90deg); margin-left: 240px; }
}

@media screen and (min-width:1920px) {
  .access-index .el-transfer-panel { width: 514px; }
}
